    @media only screen and (min-width: 60em) {
        h1 {
            font-size: 40px;
        }
        h2 {
            font-size: 35px;
        }
        h3 {
            font-size: 25px;
        }
        h4 {
            font-size: 20px;
        }
        p {
            font-size: 25px;
        }
        .nagivation a {
            font-size: 20px;
        }
        .weather-summary {
            padding: .5em;
            opacity: 85%;
            border-radius: 10px;
            position: absolute;
            margin-top: 150px;
            height: 17em;
        }
        .threeday {
            display: contents;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
        }
        .cards {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .homecompany {
            display: grid;
        }
        /*-----JOIN-------*/
        textarea {
            width: 580px;
        }
        .personal {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        form fieldset {
            margin: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .join legend {
            font-size: 35px;
        }
        /*--CONTACT--*/
        fieldset .contact {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .contact-page textarea {
            width: 20em;
            height: 5em;
        }
        label {
            font-size: 28px;
        }
        .contact legend {
            font-size: 35px;
        }
    }