html {
    background-color: cadetblue;
    text-align: center;
}

#content {
    max-width: 640px;
    margin: auto;
}

img {
    max-width: 300px;
    margin: 10px auto;
    border-radius: 10px;
}

.rafting {
    display: grid;
    grid-template-columns: 1fr;
}

.rafting img[data-src] {
    filter: blur(0.2em);
}

.rafting img {
    filter: blur(0em);
    transition: filter 1.25s;
}