@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Roboto Condensed', sans-serif;*/

body {
    font-family: 'Open Sans', sans-serif;
    
}

footer, main {
    max-width: 80em;
    margin: 0 auto;
}

header, nav {
    margin: 0 auto;
}

header {
    background-color: #554971;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 80px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.headings h1 {
    color: white;
    font-size: 20px;
    margin: 0px;
    padding: 1em;;
}

nav {
    background-color: #63768D;
}

.navigation {
    list-style: none;
    background-color: #63768D;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: white;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.responsive li {
    display: block;
}

nav a:hover {
    background-color:#8AC6D0;
    color: #36213E;
}


.menuname {
    background-color: #554971;
}

main {
    display: flex;
    flex-direction: column;
    padding: 14px;
    
}

main div {
    background-color: #B8F3FF;
    padding: 15px;
    margin: 15px;
}

.icon {
    width: 100px;
}

.icons {
    background-color: #63768D;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.article {
    display: grid;
}

.article-image {
    width: 400px;
    height: 220px;
    float:right;
}

.map {
    width: 323px;
    
}

.hero {
    position: relative;
}

.weathersummary {
    position: absolute;
    top: 10px;
    left: 50px;
    padding: 0.5rem;
    background: radial-gradient(#554971, #75abbcff);
    margin-top: 10px;;
    margin-bottom: -10px;
}

footer {
    background-color: #554971;
    color: white;
    display: grid;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

p {
    padding: .4em;
    margin: .4em;
    display: block;
}

#friday-banner {
    display: flex;
    justify-content: center;
}

#friday-banner div.text-wrapper {
    overflow: visible;
    margin: auto;
    background-color: blue;
    text-align: center;
    font-size: 1em;
    padding: 1em;
}

#friday-banner.visible {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}
.hero {
    margin: auto;
    padding: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    position: relative;
}

.weather-summary {
    padding: .5em;
    background-color: azure;
    border-radius: 10px;
    position: absolute;
    margin-top: 79px;
    margin-bottom: -10px;
}

.left {
    display: inline-block;
    text-align: left;
    width: 125px;
}

.gallery-image {
    max-width: 300px;
    height: 300px;
    padding: 0.2em;
}

.gallery-section {
    margin-top: 1em;
    text-align: center;
}

/*--------FORM --------*/

form fieldset {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    border-radius: 10px;
    padding: 1em;
    background-color: #8AC6D0;
    margin: auto;
    border-color: #554971;
}

form legend {
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 100%;
    margin: 0 1rem;
    padding: 0 0.5rem;
    
}

form label.top {
    padding-top: 1rem;
}

form label.top input, form label.top select {
    display: block;
    border: solid 1px black;
    padding: .4rem;
    width: 100%;
    max-width: 20rem;
}

form label.sbs {
    padding: .5rem;
}

form input.submitBtn {
    background-color:blue;
    color: white;
    border-radius: 1rem;
    padding: .5em;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    font-size: 20px;
    
}

form label.top input:required {
    border-left: red solid 3px;
    
}

form label.top input:required:valid{
    border-left: green solid 3px;
}

textarea {
    margin: auto;

    padding: .25em;
}

/***HOME PAGE***/

.cards {
    background-color: #554971;
    margin: 20px;
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
}

.cards section {
    background-color: #63768D;
    text-align: center;
    width: 300px;
    padding: 0;
    margin: 0 auto;
}

h1 {
    color: white;
}

 .cards p, q {
    color: white;
}

h3 {
    text-align: center;
}
/*HOME WIREFRAME*/
.wireframes {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    
}

.wireframes img {
    width: 100%;
}
