body {
    max-width: 70em;
    margin: 0 auto;
}


header,
footer {
    background-color: rgb(9,9,68);
    color: white;
    text-align: center;
}

main {
    background-color:gray;
}

nav {
    max-width: 100%;
    text-align: center;
    background-color: rgb(9, 9, 68);
}

nav a {
    color: white;
    padding: 1em 1em;
    text-decoration: none;
}

nav ul {
    display: flex;
    margin: 0 2px;
    list-style: none;
}

nav li {
    font-size: 15px;
    display: inline-block;
}
