body {
    max-width: 70em;
    margin: 0 auto;
    font-size: 15px;
}

header {
    background-color: rgb(9, 9, 68);
    display: flex;
    
    align-items: center;
    
    padding: 10px;
}

header,
footer {
    
    color: white;
    text-align: center;
}

main {
    background-color:gainsboro;
}

nav {
    max-width: 100%;
    text-align: center;
    
}

nav a {
    color: white;
    padding: 1em 1em;
    text-decoration: none;
}

nav a:hover {
    background-color: whitesmoke;
    color:rgb(9, 9, 68)
}

nav ul {
    display: flex;
    margin: 0 2px;
    list-style: none;
}

nav li {
    font-size: 15px;
    display: inline-block;
}

h1 {
    color: black;
}

footer {
    background-color: rgb(9, 9, 68);
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

#logo {
    width: 200px;
    height: 200px;
}